body {
  background-color: #fcfcfc;
}

.content-container {
  width: 650px;
  margin: 30px;
  padding: 30px;
  background-color: #fcfcfc;
}

.center {
margin: auto;
width: 60%;
border: 2px solid rgb(0, 0, 0);
padding: 20px;
border-radius: 10px;
margin-bottom: 50px;
}

.text-container {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

.image-space {
  text-align: center;
}

h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

img {
  width: 100%;
  margin-bottom: 30px;
}

hr {
  margin: 30px;
}

header {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  margin: 15px;
  margin-bottom: 60px;
}

/*Crops the profile photo to a square*/
.cropped {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
} 

/*Customizes all list items*/
.list-style {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: gray;
}

/*Mimics the header with a similar style*/
footer {
  text-align: center;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 3px;
  padding-bottom: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 10px;
}

.dark-background {
  background-color: black;
  color: white;
}

a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  font-size: 16px;
}

a:link    { color: blueviolet; }
a:visited { color: rgb(196, 196, 196); }
a:hover   { color: rgb(108, 34, 151); }
a:active  { color: rgb(6, 93, 255); }
